h1{
    color: rgb(153, 102, 7);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}
#h1{
    margin-top: 60px;
    font-size: 80px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
#h11{
    margin-top: -80px;
    color: rgb(206, 21, 175);
}
h2{
    padding-left: 20px;
    color: tomato;
}
body{
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.pic{
    border-radius:10% 10% 10% 10%;  
    width:400px;
    height:300px;
    position: relative;
    left: 200px;
    margin-top: 50px;
    box-shadow: 10px 10px 30px black;
}
.pic2{
    border-radius:10% 10% 10% 10%;  
    width:200px;
    height:200px;
    margin-left: 20px;
     box-shadow: 10px 10px 30px black;
}
section{
    background: flex;
}
.flexi-container{
    display: flex;
    margin-bottom: 100px;

}
.half-with{
    width: 50%;

}
.half-with img{
     width: 70%;
}
.formate{
    margin-top: 350px;
    text-align: center;
    height: 80px;
    width: 1496px;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(rgba(10, 230, 175, 0.733),rgba(15, 34, 3, 0.651));

}
.p-formate{
    margin-left: 20px;
    text-align: justify;
    padding: 10px;
    background-color: rgba(8, 207, 190, 0.534);
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.container span{
    color: rgb(255, 0, 179);
    text-transform: uppercase;
    display: block;
}
.container{
    margin-top: 60px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-shadow: 5px 5px 10px rgb(32, 9, 7);
}
.text1{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 10px;
    position: relative;
    animation: text 3s 1;
}
.text2{
    font-size: 60px;
    font-weight: 500;
}

@keyframes text{
  0% {
    color: rgb(74, 131, 10);
    margin-bottom: -40px;    
   }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
   }
}